{% extends './base.html' %}

{% block title %}Developers{% endblock %}

{% block content %}
    <h1> List of all developers </h1>
   
    {% for developer in Developers %}
        
        <div class="dev_card">
                <h3>{{developer.user_name}}</h3>
                <ul>
                    <li>First name: {{developer.first_name}}</li>
                    <li>Last name: {{developer.last_name}}</li>
                    <li>age: {{developer.age}}</li>
                    <li>email: {{developer.email}}</li>
                    <li><a href="{% url 'developer_skills' developer.id %}">Developer's skills</a></li>
                    <li>Developer projects: 
                        <ul>
                            {% for project in developer.project_set.all %}
                                <li>{{project.title}}</li>    
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
        </div>

        <br>

    {% endfor %}

{% endblock %}